<?xml version="1.0"?>
<config>
    <modules>
        <Grasshopperpebbles_Configurablecolors>
            <version>1.0.0</version>
        </Grasshopperpebbles_Configurablecolors>
    </modules>
    <adminhtml>
    	<layout>
            <updates>
                <configurablecolors>
                    <file>grasshopperpebbles_configurablecolors.xml</file>
                </configurablecolors>
            </updates>
        </layout>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <configurablecolors>
                                            <title>Image Settings</title>
                                        </configurablecolors>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <frontend>
        <routers>
            <configurablecolors>
                <use>standard</use>
                <args>
                    <module>Grasshopperpebbles_Configurablecolors</module>
                    <frontName>configurablecolors</frontName>
                </args>
            </configurablecolors>
        </routers>
        <layout>
            <updates>
                <configurablecolors>
                    <file>grasshopperpebbles_configurablecolors.xml</file>
                </configurablecolors>
            </updates>
        </layout>
    </frontend>   
    <global>
        <blocks>
            <configurablecolors>
                <class>Grasshopperpebbles_Configurablecolors_Block</class>
            </configurablecolors>
        </blocks>
        <models>
		    <configurablecolors>
		        <class>Grasshopperpebbles_Configurablecolors_Model</class>       
		    </configurablecolors>
		</models>    
        <helpers>
            <configurablecolors>
                <class>Grasshopperpebbles_Configurablecolors_Helper</class>
            </configurablecolors>
        </helpers>
    </global>
    <default>
    	<configurablecolors>
    		<images>
    			<thumb_width>56</thumb_width>
    			<thumb_height></thumb_height>
    			<image_width>365</image_width>
    			<image_height></image_height>
    			<show_zoom>1</show_zoom>
    			<zoom_width>1000</zoom_width>
    			<zoom_height></zoom_height>
    		</images>
    		<color_options>
    			<color_map></color_map>
    		</color_options>
    	</configurablecolors>	
    </default>
</config>