<?xml version="1.0"?>
<config>
    <modules>
        <Grasshopperpebbles_Configurablecolors>
            <version>1.0.3</version>
        </Grasshopperpebbles_Configurablecolors>
    </modules>
    <adminhtml>
    	<layout>
            <updates>
                <configurablecolors>
                    <file>grasshopperpebbles_configurablecolors.xml</file>
                </configurablecolors>
            </updates>
        </layout>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <configurablecolors>
                                            <title>Image Settings</title>
                                        </configurablecolors>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <frontend>
        <routers>
            <configurablecolors>
                <use>standard</use>
                <args>
                    <module>Grasshopperpebbles_Configurablecolors</module>
                    <frontName>configurablecolors</frontName>
                </args>
            </configurablecolors>
        </routers>
        <layout>
            <updates>
                <configurablecolors>
                    <file>grasshopperpebbles_configurablecolors.xml</file>
                </configurablecolors>
            </updates>
        </layout>
    </frontend>   
    <global>
        <blocks>
        	<catalog>
                <rewrite>
                    <product_view_media>Grasshopperpebbles_Configurablecolors_Catalog_Block_Product_View_Media</product_view_media>
                </rewrite>
            </catalog>
            <configurablecolors>
                <class>Grasshopperpebbles_Configurablecolors_Block</class>
            </configurablecolors>
        </blocks>
        <models>
		    <configurablecolors>
		        <class>Grasshopperpebbles_Configurablecolors_Model</class>       
		        <!--<resourceModel>configurablecolors_resource</resourceModel> -->
		    </configurablecolors>
		    <configurablecolors_adminhtml>
	             <class>Grasshopperpebbles_Configurablecolors_Adminhtml_Model</class>
	        </configurablecolors_adminhtml>
		 <!-->   <configurablecolors_resource>
		         <class>Grasshopperpebbles_Model_Resource</class>
		         <entities>
		               <settings>
		                    <table>configurablecolors_settings</table>
		               </settings>
		               <color_map>
		                    <table>configurablecolors_color_map</table>
		               </color_map>
		         </entities>
		    </configurablecolors_resource> -->
		</models>    

       <!-- <resources>
	        <configurablecolors_setup>
	            <setup>
	                <module>Grasshopperpebbles_Configurablecolors</module>
	                <class>Grasshopperpebbles_Configurablecolors_Model_Resource_Setup</class>
	            </setup>
	        </configurablecolors_setup>
	    </resources> -->
        <helpers>
            <configurablecolors>
                <class>Grasshopperpebbles_Configurablecolors_Helper</class>
            </configurablecolors>
        </helpers>
    </global>
    <default>
    	<configurablecolors>
    		<images>
    			<thumb_width>56</thumb_width>
    			<thumb_height></thumb_height>
    			<image_width>365</image_width>
    			<image_height></image_height>
    		</images>
    		<swatch_settings>
    			<swatch_width></swatch_width>
    			<swatch_height></swatch_height>
    			<swatch_selected_width></swatch_selected_width>
    			<swatch_selected_height></swatch_selected_height>
    			<swatch_selected_border_size></swatch_selected_border_size>
    			<swatch_selected_border_color></swatch_selected_border_color>
    		</swatch_settings>
    		<zoom_settings>
    			<show_zoom>1</show_zoom>
    			<zoom_position>inside</zoom_position>
    			<zoom_width>300</zoom_width>
    			<zoom_height>300</zoom_height>
    			<zoom_image_width>1000</zoom_image_width>
    			<zoom_image_height></zoom_image_height>
    		</zoom_settings>
    		<color_options>
    			<color_map></color_map>
    		</color_options>
    	</configurablecolors>	
    </default>
</config>